
<meta charset="utf-8">
# RGB2SPEC application


rgb2spec is a small utility that converts an RGB color to a spectral distribution (SPD)

## Input/Output data

 Input can be either
 - a triple (r,g,b) passed on the command line
 - an HDR image 
 - an LDR image

When passing a single color on the command line rgb2spec will 
save a text file that contains the spectral distribution

When passing an image, the output will be a spectral image (.hdr/.raw format), 
which can be directly open with the SpectralViewer.


## Command line Options 

 * -xyz_curves   : allows to specify which CIE-XYZ sensitivity curves will be used.
                    Possible values are : 
                      + CIE_1931_2DEG      : the two degrees CIE standard observer curves from 1931
                      + CIE_XYZ_1964_10DEG : the 10 degrees CIE standard observer  curves from 1964
                    by default the curves from 1931 are used.

 * -reflectivity : the color is supposed to represent a value
                    associated with BRDF or reflectivity. Therefore, the spectral curve
                    values should be in the range of [0,1]

 * -icolorspace COLORSPACE_NAME : input color space. This forces
    rgb2spec to interpret rgb colors to belong to the specified
    COLORSPACE_NAME.

     By default, the input (r,g,b) color is supposed to be in the
     CIE-RGB linear space.

 * -illuminant ILLUMINANT_NAME : This option only available when
    --reflectivity is present. This option specifies a specific
     illuminant spectral distribution under which the color is supposed to
     be observed. By default the neutral (E illuminant) is assumed.

 <!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style>
 <script src="markdeep.min.js"></script>
 <script src="https://casual-effects.com/markdeep/latest/markdeep.min.js"></script>
 <script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script>